<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      class="icon icon--white collapsible__chevron"
      src="/css/images/chevron.svg"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vitae?
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      class="icon icon--white collapsible__chevron"
      src="/css/images/chevron.svg"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, vitae?
  </div>
</div>
<script src="/css/js/main.js"></script>
