<section class="block block--dark block--skewed-left hero">
  <div class="grid grid__cols-2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds.</p>
      <a href="/"
        ><button class="btn btn--accent btn--stretched">Get Started</button></a
      >
    </header>
    <picture>
      <source type="image/webp" srcset="/css/images/banner.webp 1x" />
      <source type="image/png" srcset="/css/images/banner.png 1x" />
      <img class="hero__image" src="/css/images/banner.png" alt=""
    /></picture>
  </div>
</section>
