<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptates
    inventore soluta accusantium qui natus placeat aliquam repellat similique
    adipisci.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <img
          class="icon icon--primary quote__line"
          src="/css/images/line.svg"
          alt=""
        />
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organisation">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
