<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid__cols-2">
    <picture class="block-showcase__image">
      <source type="image/webp" srcset="/css/images/ipad.webp 1x" />
      <source type="image/jpg" srcset="/css/images/ipad.jpg 1x" />
      <img src="/css/images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/css/images/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
              placeat in officia! Nulla provident voluptas tenetur blanditiis
              facere, fugiat necessitatibus.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/css/images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
              placeat in officia! Nulla provident voluptas tenetur blanditiis
              facere, fugiat necessitatibus.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/css/images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
              placeat in officia! Nulla provident voluptas tenetur blanditiis
              facere, fugiat necessitatibus.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
